<div class="site-header">
  <a href="{{ '/' | relative_url }}"><img class="logo" src="{{ '/assets/img/logo-color.png' | relative_url }}" alt="Meditato"></a>
  <div class="site-nav">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/articles/' | relative_url }}">Articles</a>
    <a href="{{ '/about/' | relative_url }}">About</a>
    <a href="{{ '/contact/' | relative_url }}">Contact</a>
  </div>
  <div class="header-right">
    <div class="lang-toggle">EN&nbsp;<span class="sep">|</span>&nbsp;<a href="#">SR</a></div>
    <div class="support-btn">Support us</div>
  </div>
</div>
