<div class="site-header">
  <a href="{{ '/' | relative_url }}"><img class="logo" src="{{ '/assets/img/logo-color.png' | relative_url }}" alt="Meditato"></a>
  <div class="site-nav">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/articles/' | relative_url }}">Articles</a>
    <a href="{{ '/about/' | relative_url }}">About</a>
    <a href="{{ '/share/' | relative_url }}">Share a Story</a>
    <a href="{{ '/contact/' | relative_url }}">Contact</a>
  </div>
  <div class="header-right">
    {% if page.language == "sr" %}
    <div class="lang-toggle">{% if page.lang_alt_url %}<a href="{{ page.lang_alt_url | relative_url }}">EN</a>{% else %}EN{% endif %}&nbsp;<span class="sep">|</span>&nbsp;SR</div>
    {% else %}
    <div class="lang-toggle">EN&nbsp;<span class="sep">|</span>&nbsp;{% if page.lang_alt_url %}<a href="{{ page.lang_alt_url | relative_url }}">SR</a>{% else %}<a href="#">SR</a>{% endif %}</div>
    {% endif %}
  </div>
</div>
